
CREATE DATABASE [dbWebTimViecCNTT]
GO

USE [dbWebTimViecCNTT]
GO

CREATE TABLE [dbo].[tbl_BaiViet](
	[PK_iMaBaiViet] [int] IDENTITY(1,1) NOT NULL,
	[sTenBaiViet] [nvarchar](200) NULL,
	[sTieuDe] [nvarchar](100) NULL,
	[sAnhChinh] [nvarchar](200) NULL,
	[sNoiDung] [ntext] NULL,
	[FK_iMaTaiKhoan] [int] NULL,
	[dThoiGian] [datetime] NULL,
	[iLuotXem] [int] NULL,
	[sGhiChu] [nvarchar](500) NULL,
	[bTrangThai] [bit] NULL,
 CONSTRAINT [PK_tbl_BaiViet] PRIMARY KEY CLUSTERED 
(
	[PK_iMaBaiViet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_CapBac]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_CapBac](
	[PK_sMaCapBac] [nvarchar](50) NOT NULL,
	[sTenCapBac] [nvarchar](100) NULL,
 CONSTRAINT [PK_tbl_CapBac] PRIMARY KEY CLUSTERED 
(
	[PK_sMaCapBac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ChuyenNganh]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ChuyenNganh](
	[PK_sMaCN] [nvarchar](50) NOT NULL,
	[sTenCN] [nvarchar](100) NULL,
 CONSTRAINT [PK_tbl_ChuyenNganh] PRIMARY KEY CLUSTERED 
(
	[PK_sMaCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_DiaChi]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_DiaChi](
	[PK_sMaDiaChi] [nvarchar](50) NOT NULL,
	[sTenDiaChi] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_DiaChi] PRIMARY KEY CLUSTERED 
(
	[PK_sMaDiaChi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_HoSoXinViec]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_HoSoXinViec](
	[PK_iMaHoSo] [int] IDENTITY(1,1) NOT NULL,
	[sTenHoSo] [nvarchar](200) NULL,
	[FK_iMaUngVien] [int] NOT NULL,
	[FK_sMaCN] [nvarchar](50) NOT NULL,
	[FK_sMaLoaiCV] [nvarchar](50) NULL,
	[FK_sMaCapBac] [nvarchar](50) NOT NULL,
	[sMucTieuNgheNghiep] [ntext] NULL,
	[sKinhNghiem] [ntext] NULL,
	[sKyNang] [nvarchar](200) NULL,
	[sHocVan] [ntext] NULL,
	[sKyNangMem] [nvarchar](200) NULL,
	[sGiaiThuong] [nvarchar](200) NULL,
 CONSTRAINT [PK_tbl_HoSoXinViec_1] PRIMARY KEY CLUSTERED 
(
	[PK_iMaHoSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_LoaiCongViec]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_LoaiCongViec](
	[PK_sMaLoaiCV] [nvarchar](50) NOT NULL,
	[sTenLoaiCV] [nvarchar](100) NULL,
 CONSTRAINT [PK_tbl_LoaiCongViec] PRIMARY KEY CLUSTERED 
(
	[PK_sMaLoaiCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_MucLuong]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_MucLuong](
	[PK_sMaMucLuong] [nvarchar](50) NOT NULL,
	[sTenMucLuong] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_MucLuong] PRIMARY KEY CLUSTERED 
(
	[PK_sMaMucLuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_NhaTuyenDung]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_NhaTuyenDung](
	[PK_iMaNTD] [int] NOT NULL,
	[sTenNTD] [nvarchar](200) NULL,
	[sTenNDD] [nvarchar](100) NULL,
	[sChucVuNDD] [nvarchar](50) NULL,
	[sSoDienThoai] [nvarchar](10) NULL,
	[sAnhBia] [nvarchar](200) NULL,
	[sAnhDaiDien] [nvarchar](200) NULL,
	[sQuyMo] [nvarchar](50) NULL,
	[sMoTa] [nvarchar](250) NULL,
	[sDiaChi] [nvarchar](250) NULL,
	[sWebsite] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_NhaTuyenDung] PRIMARY KEY CLUSTERED 
(
	[PK_iMaNTD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Quyen]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Quyen](
	[PK_iMaQuyen] [int] IDENTITY(1,1) NOT NULL,
	[sTenQuyen] [nvarchar](100) NULL,
 CONSTRAINT [PK_tbl_Quyen] PRIMARY KEY CLUSTERED 
(
	[PK_iMaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_TaiKhoan]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_TaiKhoan](
	[PK_iMaTaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[sEmail] [nvarchar](100) NULL,
	[sMatKhau] [nvarchar](100) NULL,
	[FK_iMaQuyen] [int] NULL,
	[dNgayTao] [datetime] NULL,
	[bTrangThai] [bit] NULL,
 CONSTRAINT [PK_tbl_TaiKhoan_1] PRIMARY KEY CLUSTERED 
(
	[PK_iMaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_TinTuyenDung]   ****/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_TinTuyenDung](
	[PK_iMaTTD] [int] IDENTITY(1,1) NOT NULL,
	[FK_iMaNTD] [int] NOT NULL,
	[FK_sMaCN] [nvarchar](50) NOT NULL,
	[FK_sMaLoaiCV] [nvarchar](50) NOT NULL,
	[FK_sMaMucLuong] [nvarchar](50) NOT NULL,
	[FK_sMaCapBac] [nvarchar](50) NOT NULL,
	[FK_sMaDiaChi] [nvarchar](50) NULL,
	[sTenCongViec] [nvarchar](250) NULL,
	[sDiaChiLamViec] [nvarchar](250) NULL,
	[iSoLuong] [int] NULL,
	[sGioiTinhYC] [nvarchar](50) NULL,
	[sMoTaCongViec] [ntext] NULL,
	[sYeuCauUngVien] [ntext] NULL,
	[sKyNangLienQuan] [ntext] NULL,
	[sQuyenLoi] [ntext] NULL,
	[dNgayDang] [datetime] NULL,
	[dHanNop] [datetime] NULL,
	[iLuotXem] [int] NULL,
	[sGhiChu] [nvarchar](500) NULL,
	[bTrangThai] [bit] NULL,
 CONSTRAINT [PK_tbl_TinTuyenDung] PRIMARY KEY CLUSTERED 
(
	[PK_iMaTTD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_UngTuyen]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UngTuyen](
	[PK_iMaUngVien] [int] NOT NULL,
	[FK_iMaTTD] [int] NOT NULL,
	[sLinkHoSo] [nvarchar](150) NULL,
	[dNgayUngTuyen] [datetime] NULL,
	[sTrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_UngTuyen] PRIMARY KEY CLUSTERED 
(
	[PK_iMaUngVien] ASC,
	[FK_iMaTTD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_UngVien]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UngVien](
	[PK_iMaUngVien] [int] NOT NULL,
	[sTenUngVien] [nvarchar](200) NULL,
	[sSoDienThoai] [nvarchar](10) NULL,
	[sGioiTinh] [nvarchar](3) NULL,
	[dNgaySinh] [date] NULL,
	[sAnhDaiDien] [nvarchar](200) NULL,
	[sAnhBia] [nvarchar](200) NULL,
	[sDiaChi] [nvarchar](200) NULL,
 CONSTRAINT [PK_tbl_UngVien_1] PRIMARY KEY CLUSTERED 
(
	[PK_iMaUngVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON ) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_BaiViet] ON 

INSERT [dbo].[tbl_BaiViet] ([PK_iMaBaiViet], [sTenBaiViet], [sTieuDe], [sAnhChinh], [sNoiDung], [FK_iMaTaiKhoan], [dThoiGian], [iLuotXem], [sGhiChu], [bTrangThai]) VALUES (2, N'8 XU HƯỚNG TIẾP THỊ TRÊN MẠNG XÃ HỘI ĐÁNG CHÚ Ý TRONG NĂM 2022', N'8-XU-HUONG-TIEP-THI-TREN-MANG-XA-HOI-DANG-CHU-Y-TRONG-NAM-2022', N'/Images/Blogs/blog_1224504607.jpg', N'<p>8 XU HƯỚNG TIẾP THỊ TR&Ecirc;N MẠNG X&Atilde; HỘI Đ&Aacute;NG CH&Uacute; &Yacute; TRONG NĂM 2022</p>', 1, CAST(N'2022-03-13T22:46:01.170' AS DateTime), 2, NULL, 1)
SET IDENTITY_INSERT [dbo].[tbl_BaiViet] OFF
GO
INSERT [dbo].[tbl_CapBac] ([PK_sMaCapBac], [sTenCapBac]) VALUES (N'chuyen-vien-phan-tich-nghiep-vu', N'Chuyên viên phân tích nghiệp vụ')
INSERT [dbo].[tbl_CapBac] ([PK_sMaCapBac], [sTenCapBac]) VALUES (N'ky-su-cau-noi', N'Kỹ sư cầu nối')
INSERT [dbo].[tbl_CapBac] ([PK_sMaCapBac], [sTenCapBac]) VALUES (N'lap-trinh-vien', N'Lập trình viên')
GO
INSERT [dbo].[tbl_ChuyenNganh] ([PK_sMaCN], [sTenCN]) VALUES (N'back-end', N'Back End')
INSERT [dbo].[tbl_ChuyenNganh] ([PK_sMaCN], [sTenCN]) VALUES (N'business-analyst', N'Business Analyst')
INSERT [dbo].[tbl_ChuyenNganh] ([PK_sMaCN], [sTenCN]) VALUES (N'c-c-', N'C/C++')
GO
INSERT [dbo].[tbl_DiaChi] ([PK_sMaDiaChi], [sTenDiaChi]) VALUES (N'da-nang', N'Đà Nẵng')
INSERT [dbo].[tbl_DiaChi] ([PK_sMaDiaChi], [sTenDiaChi]) VALUES (N'ha-noi', N'Hà Nội')
INSERT [dbo].[tbl_DiaChi] ([PK_sMaDiaChi], [sTenDiaChi]) VALUES (N'ho-chi-minh', N'Hồ Chí Minh')
GO
SET IDENTITY_INSERT [dbo].[tbl_HoSoXinViec] ON 

INSERT [dbo].[tbl_HoSoXinViec] ([PK_iMaHoSo], [sTenHoSo], [FK_iMaUngVien], [FK_sMaCN], [FK_sMaLoaiCV], [FK_sMaCapBac], [sMucTieuNgheNghiep], [sKinhNghiem], [sKyNang], [sHocVan], [sKyNangMem], [sGiaiThuong]) VALUES (2, N'CV Thực tập sinh (Bán thời gian test)', 7, N'back-end', N'ban-thoi-gian', N'thuc-tap-sinh', N'<p>Mục ti&ecirc;u nghề nghiệp</p>', N'<p>Kinh nghiệm</p>', N'<p>Kỹ năng</p>', N'<p>Học vấn</p>', N'<p>Kỹ năng mềm&nbsp;</p>', N'<p>Giải thưởng 1</p>')
SET IDENTITY_INSERT [dbo].[tbl_HoSoXinViec] OFF
GO
INSERT [dbo].[tbl_LoaiCongViec] ([PK_sMaLoaiCV], [sTenLoaiCV]) VALUES (N'ban-thoi-gian', N'Bán thời gian')
INSERT [dbo].[tbl_LoaiCongViec] ([PK_sMaLoaiCV], [sTenLoaiCV]) VALUES (N'remote-lam-viec-tu-xa', N'Remote - Làm việc từ xa')
INSERT [dbo].[tbl_LoaiCongViec] ([PK_sMaLoaiCV], [sTenLoaiCV]) VALUES (N'thuc-tap', N'Thực tập')
GO
INSERT [dbo].[tbl_MucLuong] ([PK_sMaMucLuong], [sTenMucLuong]) VALUES (N'3-5-trieu', N'3 - 5 triệu')
INSERT [dbo].[tbl_MucLuong] ([PK_sMaMucLuong], [sTenMucLuong]) VALUES (N'5-7-trieu', N'5 - 7 triệu')
INSERT [dbo].[tbl_MucLuong] ([PK_sMaMucLuong], [sTenMucLuong]) VALUES (N'7-10-trieu', N'7 - 10 triệu')
GO
INSERT [dbo].[tbl_NhaTuyenDung] ([PK_iMaNTD], [sTenNTD], [sTenNDD], [sChucVuNDD], [sSoDienThoai], [sAnhBia], [sAnhDaiDien], [sQuyMo], [sMoTa], [sDiaChi], [sWebsite]) VALUES (6, N'NCD Việt Nam', N'Nguyễn Công Đức', N'Trưởng nhóm', N'0917281928', N'/Images/NhaTuyenDung/bg-seccity220613511.jpg', N'/Images/NhaTuyenDung/logo223825242.png', N'100 - 200 nhân viên', N'Công ty TNHH 1 thành viên NCD Việt Nam
Đây là một công ty trẻ 
Liên kết với các công ty nước ngoài', N'96 Định Công, Hoàng Mai, Hà Nội', N'https://ncd.com')
GO
SET IDENTITY_INSERT [dbo].[tbl_Quyen] ON 

INSERT [dbo].[tbl_Quyen] ([PK_iMaQuyen], [sTenQuyen]) VALUES (1, N'Quản trị viên')
INSERT [dbo].[tbl_Quyen] ([PK_iMaQuyen], [sTenQuyen]) VALUES (2, N'Nhà tuyển dụng')
INSERT [dbo].[tbl_Quyen] ([PK_iMaQuyen], [sTenQuyen]) VALUES (3, N'Ứng viên')
SET IDENTITY_INSERT [dbo].[tbl_Quyen] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_TaiKhoan] ON 

INSERT [dbo].[tbl_TaiKhoan] ([PK_iMaTaiKhoan], [sEmail], [sMatKhau], [FK_iMaQuyen], [dNgayTao], [bTrangThai]) VALUES (1, N'admin@gmail.com', N'21232f297a57a5a743894a0e4a801fc3', 1, CAST(N'2023-03-02T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[tbl_TaiKhoan] ([PK_iMaTaiKhoan], [sEmail], [sMatKhau], [FK_iMaQuyen], [dNgayTao], [bTrangThai]) VALUES (6, N'nhatuyendung@gmail.com', N'316f8ca77a7a840d14990aa3038aed7f', 2, CAST(N'2023-03-10T15:49:22.247' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[tbl_TaiKhoan] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_TinTuyenDung] ON 

SET IDENTITY_INSERT [dbo].[tbl_TinTuyenDung] OFF
GO
INSERT [dbo].[tbl_UngTuyen] ([PK_iMaUngVien], [FK_iMaTTD], [sLinkHoSo], [dNgayUngTuyen], [sTrangThai]) VALUES (7, 2, N'/Files/CV/[.NET DEVELOPER INTERN] Le Trong Hieu224915087.pdf', CAST(N'2022-03-25T11:49:15.097' AS DateTime), N'Được nhận')
INSERT [dbo].[tbl_UngTuyen] ([PK_iMaUngVien], [FK_iMaTTD], [sLinkHoSo], [dNgayUngTuyen], [sTrangThai]) VALUES (7, 5, NULL, CAST(N'2022-04-08T22:41:36.610' AS DateTime), N'Đã lưu')
INSERT [dbo].[tbl_UngTuyen] ([PK_iMaUngVien], [FK_iMaTTD], [sLinkHoSo], [dNgayUngTuyen], [sTrangThai]) VALUES (7, 6, N'/HoSoXinViec/HoSo?ungvien=7&id=1', CAST(N'2022-04-09T08:03:12.417' AS DateTime), N'Chưa xem')
GO
INSERT [dbo].[tbl_UngVien] ([PK_iMaUngVien], [sTenUngVien], [sSoDienThoai], [sGioiTinh], [dNgaySinh], [sAnhDaiDien], [sAnhBia], [sDiaChi]) VALUES (3, N'Đức Nguyễn', N'0917281928', N'Nam', CAST(N'2022-03-29' AS Date), NULL, NULL, N'Hoàng Mai, Hà Nội')
INSERT [dbo].[tbl_UngVien] ([PK_iMaUngVien], [sTenUngVien], [sSoDienThoai], [sGioiTinh], [dNgaySinh], [sAnhDaiDien], [sAnhBia], [sDiaChi]) VALUES (5, N'Nguyễn Thanh Tùng', N'0917281928', N'Nam', CAST(N'2002-12-12' AS Date), N'/Images/UngVien/avatar2221542903.jpg', NULL, N'Hoàng Mai, Hà Nội')
INSERT [dbo].[tbl_UngVien] ([PK_iMaUngVien], [sTenUngVien], [sSoDienThoai], [sGioiTinh], [dNgaySinh], [sAnhDaiDien], [sAnhBia], [sDiaChi]) VALUES (7, N'Nguyễn Huy Hoàng', N'0917281999', N'Nam', CAST(N'2004-01-16' AS Date), N'/Images/UngVien/hoang223206914.jpg', N'/Images/UngVien/cover-default221236765.jpg', N'102 Bạch Mai, Đống Đa, Hà Nội')
GO
ALTER TABLE [dbo].[tbl_BaiViet] ADD  CONSTRAINT [DF_tbl_BaiViet_iLuotXem]  DEFAULT ((0)) FOR [iLuotXem]
GO
ALTER TABLE [dbo].[tbl_TinTuyenDung] ADD  CONSTRAINT [DF_tbl_TinTuyenDung_dNgayDang]  DEFAULT (getdate()) FOR [dNgayDang]
GO
ALTER TABLE [dbo].[tbl_TinTuyenDung] ADD  CONSTRAINT [DF_tbl_TinTuyenDung_iLuotXem]  DEFAULT ((0)) FOR [iLuotXem]
GO
ALTER TABLE [dbo].[tbl_BaiViet]  WITH CHECK ADD  CONSTRAINT [FK_tbl_BaiViet_tbl_TaiKhoan] FOREIGN KEY([FK_iMaTaiKhoan])
REFERENCES [dbo].[tbl_TaiKhoan] ([PK_iMaTaiKhoan])
GO
ALTER TABLE [dbo].[tbl_BaiViet] CHECK CONSTRAINT [FK_tbl_BaiViet_tbl_TaiKhoan]
GO
ALTER TABLE [dbo].[tbl_HoSoXinViec]  WITH CHECK ADD  CONSTRAINT [FK_tbl_HoSoXinViec_tbl_CapBac] FOREIGN KEY([FK_sMaCapBac])
REFERENCES [dbo].[tbl_CapBac] ([PK_sMaCapBac])
GO
ALTER TABLE [dbo].[tbl_HoSoXinViec] CHECK CONSTRAINT [FK_tbl_HoSoXinViec_tbl_CapBac]
GO
ALTER TABLE [dbo].[tbl_HoSoXinViec]  WITH CHECK ADD  CONSTRAINT [FK_tbl_HoSoXinViec_tbl_ChuyenNganh] FOREIGN KEY([FK_sMaCN])
REFERENCES [dbo].[tbl_ChuyenNganh] ([PK_sMaCN])
GO
ALTER TABLE [dbo].[tbl_HoSoXinViec] CHECK CONSTRAINT [FK_tbl_HoSoXinViec_tbl_ChuyenNganh]
GO
ALTER TABLE [dbo].[tbl_HoSoXinViec]  WITH CHECK ADD  CONSTRAINT [FK_tbl_HoSoXinViec_tbl_LoaiCongViec] FOREIGN KEY([FK_sMaLoaiCV])
REFERENCES [dbo].[tbl_LoaiCongViec] ([PK_sMaLoaiCV])
GO
ALTER TABLE [dbo].[tbl_HoSoXinViec] CHECK CONSTRAINT [FK_tbl_HoSoXinViec_tbl_LoaiCongViec]
GO
ALTER TABLE [dbo].[tbl_HoSoXinViec]  WITH CHECK ADD  CONSTRAINT [FK_tbl_HoSoXinViec_tbl_UngVien] FOREIGN KEY([FK_iMaUngVien])
REFERENCES [dbo].[tbl_UngVien] ([PK_iMaUngVien])
GO
ALTER TABLE [dbo].[tbl_HoSoXinViec] CHECK CONSTRAINT [FK_tbl_HoSoXinViec_tbl_UngVien]
GO
ALTER TABLE [dbo].[tbl_NhaTuyenDung]  WITH CHECK ADD  CONSTRAINT [FK_tbl_NhaTuyenDung_tbl_TaiKhoan] FOREIGN KEY([PK_iMaNTD])
REFERENCES [dbo].[tbl_TaiKhoan] ([PK_iMaTaiKhoan])
GO
ALTER TABLE [dbo].[tbl_NhaTuyenDung] CHECK CONSTRAINT [FK_tbl_NhaTuyenDung_tbl_TaiKhoan]
GO
ALTER TABLE [dbo].[tbl_TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_tbl_TaiKhoan_tbl_Quyen] FOREIGN KEY([FK_iMaQuyen])
REFERENCES [dbo].[tbl_Quyen] ([PK_iMaQuyen])
GO
ALTER TABLE [dbo].[tbl_TaiKhoan] CHECK CONSTRAINT [FK_tbl_TaiKhoan_tbl_Quyen]
GO
ALTER TABLE [dbo].[tbl_TinTuyenDung]  WITH CHECK ADD  CONSTRAINT [FK_tbl_TinTuyenDung_tbl_CapBac] FOREIGN KEY([FK_sMaCapBac])
REFERENCES [dbo].[tbl_CapBac] ([PK_sMaCapBac])
GO
ALTER TABLE [dbo].[tbl_TinTuyenDung] CHECK CONSTRAINT [FK_tbl_TinTuyenDung_tbl_CapBac]
GO
ALTER TABLE [dbo].[tbl_TinTuyenDung]  WITH CHECK ADD  CONSTRAINT [FK_tbl_TinTuyenDung_tbl_ChuyenNganh] FOREIGN KEY([FK_sMaCN])
REFERENCES [dbo].[tbl_ChuyenNganh] ([PK_sMaCN])
GO
ALTER TABLE [dbo].[tbl_TinTuyenDung] CHECK CONSTRAINT [FK_tbl_TinTuyenDung_tbl_ChuyenNganh]
GO
ALTER TABLE [dbo].[tbl_TinTuyenDung]  WITH CHECK ADD  CONSTRAINT [FK_tbl_TinTuyenDung_tbl_DiaChi] FOREIGN KEY([FK_sMaDiaChi])
REFERENCES [dbo].[tbl_DiaChi] ([PK_sMaDiaChi])
GO
ALTER TABLE [dbo].[tbl_TinTuyenDung] CHECK CONSTRAINT [FK_tbl_TinTuyenDung_tbl_DiaChi]
GO
ALTER TABLE [dbo].[tbl_TinTuyenDung]  WITH CHECK ADD  CONSTRAINT [FK_tbl_TinTuyenDung_tbl_LoaiCongViec] FOREIGN KEY([FK_sMaLoaiCV])
REFERENCES [dbo].[tbl_LoaiCongViec] ([PK_sMaLoaiCV])
GO
ALTER TABLE [dbo].[tbl_TinTuyenDung] CHECK CONSTRAINT [FK_tbl_TinTuyenDung_tbl_LoaiCongViec]
GO
ALTER TABLE [dbo].[tbl_TinTuyenDung]  WITH CHECK ADD  CONSTRAINT [FK_tbl_TinTuyenDung_tbl_MucLuong] FOREIGN KEY([FK_sMaMucLuong])
REFERENCES [dbo].[tbl_MucLuong] ([PK_sMaMucLuong])
GO
ALTER TABLE [dbo].[tbl_TinTuyenDung] CHECK CONSTRAINT [FK_tbl_TinTuyenDung_tbl_MucLuong]
GO
ALTER TABLE [dbo].[tbl_TinTuyenDung]  WITH CHECK ADD  CONSTRAINT [FK_tbl_TinTuyenDung_tbl_NhaTuyenDung] FOREIGN KEY([FK_iMaNTD])
REFERENCES [dbo].[tbl_NhaTuyenDung] ([PK_iMaNTD])
GO
ALTER TABLE [dbo].[tbl_TinTuyenDung] CHECK CONSTRAINT [FK_tbl_TinTuyenDung_tbl_NhaTuyenDung]
GO
ALTER TABLE [dbo].[tbl_UngTuyen]  WITH CHECK ADD  CONSTRAINT [FK_tbl_UngTuyen_tbl_TinTuyenDung1] FOREIGN KEY([FK_iMaTTD])
REFERENCES [dbo].[tbl_TinTuyenDung] ([PK_iMaTTD])
GO
ALTER TABLE [dbo].[tbl_UngTuyen] CHECK CONSTRAINT [FK_tbl_UngTuyen_tbl_TinTuyenDung1]
GO
ALTER TABLE [dbo].[tbl_UngTuyen]  WITH CHECK ADD  CONSTRAINT [FK_tbl_UngTuyen_tbl_UngVien] FOREIGN KEY([PK_iMaUngVien])
REFERENCES [dbo].[tbl_UngVien] ([PK_iMaUngVien])
GO
ALTER TABLE [dbo].[tbl_UngTuyen] CHECK CONSTRAINT [FK_tbl_UngTuyen_tbl_UngVien]
GO
ALTER TABLE [dbo].[tbl_UngVien]  WITH CHECK ADD  CONSTRAINT [FK_tbl_UngVien_tbl_TaiKhoan] FOREIGN KEY([PK_iMaUngVien])
REFERENCES [dbo].[tbl_TaiKhoan] ([PK_iMaTaiKhoan])
GO
ALTER TABLE [dbo].[tbl_UngVien] CHECK CONSTRAINT [FK_tbl_UngVien_tbl_TaiKhoan]
GO
